# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
/2014-11-03-announce.html
/2014-11-03.html
/2014-11-03.pdf
/2014-11-03.tex
/:w
/auto/
